<html>

<head>
    <title>{{title}}</title>
    <link href="{{relative_path path "assets/css/bootstrap.min.css"}}" rel="stylesheet">

</head>

<body>
    <div class="container">
        <h1>{{title}}</h1>
        {{{contents}}}

        <p><a href="{{relative_path path "index.html"}}">Home</a></p>
        <p><a href="{{relative_path path "services/marketing.html"}}">Services &gt; Marketing</a></p>
        <p><a href="{{relative_path path "services/marketing/email.html"}}">Services &gt; Marketing &gt; Email</a></p>

        <script src="{{relative_path path "assets/js/bootstrap.min.js"}}"></script>
    </div>
</body>

</html>
